// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  
  
  /** planta **/
  --ion-color-planta: #9bcc50;
  --ion-color-planta-rgb: 155,204,80;
  --ion-color-planta-contrast: #000000;
  --ion-color-planta-contrast-rgb: 0,0,0;
  --ion-color-planta-shade: #88b446;
  --ion-color-planta-tint: #a5d162;

  /** bug **/
  --ion-color-bug: #729f3f;
  --ion-color-bug-rgb: 114,159,63;
  --ion-color-bug-contrast: #000000;
  --ion-color-bug-contrast-rgb: 0,0,0;
  --ion-color-bug-shade: #648c37;
  --ion-color-bug-tint: #80a952;




 /** fada **/
  --ion-color-fada: #fdb9e9;
  --ion-color-fada-rgb: 253,185,233;
  --ion-color-fada-contrast: #000000;
  --ion-color-fada-contrast-rgb: 0,0,0;
  --ion-color-fada-shade: #dfa3cd;
  --ion-color-fada-tint: #fdc0eb;



 /** fogo **/
  --ion-color-fogo: #fd7d24;
  --ion-color-fogo-rgb: 253,125,36;
  --ion-color-fogo-contrast: #000000;
  --ion-color-fogo-contrast-rgb: 0,0,0;
  --ion-color-fogo-shade: #df6e20;
  --ion-color-fogo-tint: #fd8a3a;


 /** ghost **/

  --ion-color-ghost: #7b62a3;
  --ion-color-ghost-rgb: 123,98,163;
  --ion-color-ghost-contrast: #ffffff;
  --ion-color-ghost-contrast-rgb: 255,255,255;
  --ion-color-ghost-shade: #6c568f;
  --ion-color-ghost-tint: #8872ac;

 /** normal **/
  --ion-color-normal: #a4acaf;
  --ion-color-normal-rgb: 164,172,175;
  --ion-color-normal-contrast: #000000;
  --ion-color-normal-contrast-rgb: 0,0,0;
  --ion-color-normal-shade: #90979a;
  --ion-color-normal-tint: #adb4b7;

/** psiquico **/
  --ion-color-psiquico: #f366b9;
  --ion-color-psiquico-rgb: 243,102,185;
  --ion-color-psiquico-contrast: #000000;
  --ion-color-psiquico-contrast-rgb: 0,0,0;
  --ion-color-psiquico-shade: #d65aa3;
  --ion-color-psiquico-tint: #f475c0;
/** stell **/
  --ion-color-stell: #9eb7b8;
  --ion-color-stell-rgb: 158,183,184;
  --ion-color-stell-contrast: #000000;
  --ion-color-stell-contrast-rgb: 0,0,0;
  --ion-color-stell-shade: #8ba1a2;
  --ion-color-stell-tint: #a8bebf;

/** dark**/
  --ion-color-dark: #707070;
  --ion-color-dark-rgb: 112,112,112;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #636363;
  --ion-color-dark-tint: #7e7e7e;
/** eletric**/
  --ion-color-eletric: #eed535;
  --ion-color-eletric-rgb: 238,213,53;
  --ion-color-eletric-contrast: #000000;
  --ion-color-eletric-contrast-rgb: 0,0,0;
  --ion-color-eletric-shade: #d1bb2f;
  --ion-color-eletric-tint: #f0d949;
/** luta **/
  --ion-color-luta: #d56723;
  --ion-color-luta-rgb: 213,103,35;
  --ion-color-luta-contrast: #000000;
  --ion-color-luta-contrast-rgb: 0,0,0;
  --ion-color-luta-shade: #bb5b1f;
  --ion-color-luta-tint: #d97639;

  --ion-color-ice: #51c4e7;
  --ion-color-ice-rgb: 81,196,231;
  --ion-color-ice-contrast: #000000;
  --ion-color-ice-contrast-rgb: 0,0,0;
  --ion-color-ice-shade: #47accb;
  --ion-color-ice-tint: #62cae9;



--ion-color-ice: #b97fc9;
--ion-color-ice-rgb: 185,127,201;
--ion-color-ice-contrast: #000000;
--ion-color-ice-contrast-rgb: 0,0,0;
--ion-color-ice-shade: #a370b1;
--ion-color-ice-tint: #c08cce;

--ion-color-rock: #a38c21;
--ion-color-rock-rgb: 163,140,33;
--ion-color-rock-contrast: #000000;
--ion-color-rock-contrast-rgb: 0,0,0;
--ion-color-rock-shade: #8f7b1d;
--ion-color-rock-tint: #ac9

--ion-color-agua: #4592c4;
--ion-color-agua-rgb: 69,146,196;
--ion-color-agua-contrast: #000000;
--ion-color-agua-contrast-rgb: 0,0,0;
--ion-color-agua-shade: #3d80ac;
--ion-color-agua-tint: #589dca;




}





.ion-color-planta {
  --ion-color-base: var(--ion-color-planta);
  --ion-color-base-rgb: var(--ion-color-planta-rgb);
  --ion-color-contrast: var(--ion-color-planta-contrast);
  --ion-color-contrast-rgb: var(--ion-color-planta-contrast-rgb);
  --ion-color-shade: var(--ion-color-planta-shade);
  --ion-color-tint: var(--ion-color-planta-tint);


}

.ion-color-bug {
  --ion-color-base: var(--ion-color-bug);
  --ion-color-base-rgb: var(--ion-color-bug-rgb);
  --ion-color-contrast: var(--ion-color-bug-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bug-contrast-rgb);
  --ion-color-shade: var(--ion-color-bug-shade);
  --ion-color-tint: var(--ion-color-bug-tint);


}
  .ion-color-fada {
    --ion-color-base: var(--ion-color-fada);
    --ion-color-base-rgb: var(--ion-color-fada-rgb);
    --ion-color-contrast: var(--ion-color-fada-contrast);
    --ion-color-contrast-rgb: var(--ion-color-fada-contrast-rgb);
    --ion-color-shade: var(--ion-color-fada-shade);
    --ion-color-tint: var(--ion-color-fada-tint);
  }
  
.ion-color-fogo {
  --ion-color-base: var(--ion-color-fogo);
  --ion-color-base-rgb: var(--ion-color-fogo-rgb);
  --ion-color-contrast: var(--ion-color-fogo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fogo-contrast-rgb);
  --ion-color-shade: var(--ion-color-fogo-shade);
  --ion-color-tint: var(--ion-color-fogo-tint);
}

  .ion-color-ghost {
    --ion-color-base: var(--ion-color-ghost);
    --ion-color-base-rgb: var(--ion-color-ghost-rgb);
    --ion-color-contrast: var(--ion-color-ghost-contrast);
    --ion-color-contrast-rgb: var(--ion-color-ghost-contrast-rgb);
    --ion-color-shade: var(--ion-color-ghost-shade);
    --ion-color-tint: var(--ion-color-ghost-tint);

}



.ion-color-normal {
  --ion-color-base: var(--ion-color-normal);
  --ion-color-base-rgb: var(--ion-color-normal-rgb);
  --ion-color-contrast: var(--ion-color-normal-contrast);
  --ion-color-contrast-rgb: var(--ion-color-normal-contrast-rgb);
  --ion-color-shade: var(--ion-color-normal-shade);
  --ion-color-tint: var(--ion-color-normal-tint);

}



.ion-color-psiquico {
  --ion-color-base: var(--ion-color-psiquico);
  --ion-color-base-rgb: var(--ion-color-psiquico-rgb);
  --ion-color-contrast: var(--ion-color-psiquico-contrast);
  --ion-color-contrast-rgb: var(--ion-color-psiquico-contrast-rgb);
  --ion-color-shade: var(--ion-color-psiquico-shade);
  --ion-color-tint: var(--ion-color-psiquico-tint);
}
.ion-color-stell {
  --ion-color-base: var(--ion-color-stell);
  --ion-color-base-rgb: var(--ion-color-stell-rgb);
  --ion-color-contrast: var(--ion-color-stell-contrast);
  --ion-color-contrast-rgb: var(--ion-color-stell-contrast-rgb);
  --ion-color-shade: var(--ion-color-stell-shade);
  --ion-color-tint: var(--ion-color-stell-tint);
}

.ion-color-eletric {
  --ion-color-base: var(--ion-color-eletric);
  --ion-color-base-rgb: var(--ion-color-eletric-rgb);
  --ion-color-contrast: var(--ion-color-eletric-contrast);
  --ion-color-contrast-rgb: var(--ion-color-eletric-contrast-rgb);
  --ion-color-shade: var(--ion-color-eletric-shade);
  --ion-color-tint: var(--ion-color-eletric-tint);
}

.ion-color-luta {
  --ion-color-base: var(--ion-color-luta);
  --ion-color-base-rgb: var(--ion-color-luta-rgb);
  --ion-color-contrast: var(--ion-color-luta-contrast);
  --ion-color-contrast-rgb: var(--ion-color-luta-contrast-rgb);
  --ion-color-shade: var(--ion-color-luta-shade);
  --ion-color-tint: var(--ion-color-luta-tint);

  .ion-color-ice {
    --ion-color-base: var(--ion-color-ice);
    --ion-color-base-rgb: var(--ion-color-ice-rgb);
    --ion-color-contrast: var(--ion-color-ice-contrast);
    --ion-color-contrast-rgb: var(--ion-color-ice-contrast-rgb);
    --ion-color-shade: var(--ion-color-ice-shade);
    --ion-color-tint: var(--ion-color-ice-tint);
  }

  .ion-color-ice {
    --ion-color-base: var(--ion-color-ice);
    --ion-color-base-rgb: var(--ion-color-ice-rgb);
    --ion-color-contrast: var(--ion-color-ice-contrast);
    --ion-color-contrast-rgb: var(--ion-color-ice-contrast-rgb);
    --ion-color-shade: var(--ion-color-ice-shade);
    --ion-color-tint: var(--ion-color-ice-tint);
  }

  .ion-color-rock {
    --ion-color-base: var(--ion-color-rock);
    --ion-color-base-rgb: var(--ion-color-rock-rgb);
    --ion-color-contrast: var(--ion-color-rock-contrast);
    --ion-color-contrast-rgb: var(--ion-color-rock-contrast-rgb);
    --ion-color-shade: var(--ion-color-rock-shade);
    --ion-color-tint: var(--ion-color-rock-tint);
  }
  .ion-color-agua {
    --ion-color-base: var(--ion-color-agua);
    --ion-color-base-rgb: var(--ion-color-agua-rgb);
    --ion-color-contrast: var(--ion-color-agua-contrast);
    --ion-color-contrast-rgb: var(--ion-color-agua-contrast-rgb);
    --ion-color-shade: var(--ion-color-agua-shade);
    --ion-color-tint: var(--ion-color-agua-tint);
  }

}

